$imgPath: "~/src/assets/img";


.websitepage, .uikitpage {
  padding:0;
  margin:0;
  font-family: Montserrat, Arial, sans-serif;
  color:#444;
}

.uikitpage {
  .pagelist__main-header {
    color: #cd4b4b;
    text-align: center;
  }
  .pagelist {
    max-width: 800px;
    margin: 0 auto;
    width: 80%;
  }
  .pagelist__listblock {
    display: flex;
    justify-content: space-between;
  }
}
@media (max-width: 770px) {
  .uikitpage {
    .pagelist__listblock {
      display: block;
    }
  }
}
.uikitpage {
  .pagelist__list-header {
    font-size: 28px;
    text-align: center;
  }
  .pagelist__list {
    padding:0;
  }
  .pagelist__listelem {
    list-style-type:none;
    text-align: center;
  }
  .pagelist__link {
    color: #817fff;
    font-size: 24px;
  }
}

