include ../pug_libs/_libs


doctype html
html(lang='ru')
    include ../pug_libs/_head

    body
        .container
            h1 Заголовок пам-парам
            p обычная строка в параграфе
            +image('webpack.png')
