extends ../layouts/ui-kit_layout

block variables
    - var pageTitle = 'Colors & Type';
    - var pageDescription = 'Colors & Type description';
    - var pageKeywords = 'Colors, type';

block content
    p Тест