mixin header(type='compact')
    if type == "compact"
        header.header
            a.header__logo(href="/", target="_blank")
                img.header__logoimg(src=require(`/src/assets/img/logo_uikit.svg`) alt="Logotype")
    if type == "full"
